<h1>Welcome to {{title}}!</h1>

<nav>
  <a routerLink="/">Home</a> |
  <a routerLink="/about">About</a>
</nav>

<hr />

<router-outlet></router-outlet>
<hr />
<app-hello-world></app-hello-world>
<app-user-card [name]="userName" (selected)="onUserSelected($event)"></app-user-card>
<p>{{message}}</p>

<button (click)="logMessage()">Logging</button>

<hr />
<p>Template-Driven Forms Ex :</p>
<form (ngSubmit)="onSubmit()">
  <label>Name :</label>
  <input [(ngModel)]="name" name="name" required />
  <button type="submit">Submit</button>
</form>

<hr />
<p>Reactive Forms Ex :</p>
<form (ngSubmit)="submitForm()">
  <label>Name:</label>
  <input [formControl]="nameControl" />
  <button type="submit">Submit</button>
</form>

<hr />

<h2>Post List</h2>

<ul>
  <li *ngFor="let post of posts">
    <strong>{{post.title}}</strong> <br />
    {{post.body}}
  </li>
</ul>